.main-container {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
}

.img-container {
    width:100%;
    height:300px;
}

.img {
    width:100%;
    height:100%;
    border-top-left-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
}